

.navigate {
    background-color: #C1C1C1;
    height: 2.5em;
    position: relative;
    top: -1em;
}

.nav-flex-container{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    margin: .5em;

}

.left-nav{
    color: black;
    text-decoration: none;
    position: relative;
    right: 3.5em;
    font-weight: bold;
    font-size: 12px;
}

.left-nav:hover{
    color: white;
}

.nav-logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    position: relative;
    left: 7em;
    bottom: .55em;
}

.right-nav{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    position: relative;
    left: 42em;
    top: .1em;
}

.right-nav:hover{
    color: white;
}

.icons{
    position: relative;
    left: 31.5em;
    top: .2em;
}

.icons:hover{
    color: white;
}