*{
    overflow-y: hidden;
}

.gameboy-background{
    background-image: url(../img/gameboy.jpeg);
    background-size: cover;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}

.life-class{
    text-align: center;
    padding-top: 4rem;
}
.my-keys{
    position: absolute;
    padding-top: 16rem;
}
