.software-text{
    font-size: 25px!important;
}

.dummy-center-text{
    text-align: center!important;
}

.top-green-bar{
    color: #7DB342;
    padding: .2rem;
}

.take-away-list{
    list-style: none!important;
}
