.software-text{
    font-size: 25px!important;
}

.dummy-center-text{
    text-align: center!important;
}

.top-green-bar{
    color: #7DB342;
    padding: .2rem;
}

li{
    list-style: none!important;
}

@media screen and (max-width: 768px) {
    .contact-info{
        flex-direction:column;
        text-align: center;
    }
}