body {
    background-image: url(../img/good-skies.jpeg);
}

.grid-container {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-areas:
    'topbar topbar'
    'scrollbar scrollbar'
    'mapcontent cardcontent';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr) 10fr;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-container > p {
    display: flex;
    justify-content: start;
    margin-top: 1em;
    margin-bottom: -1em;
}

#mapIcon-ID {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 53%;
    top: 25%;
    height: 300px;
    transform: scale(150%);
    transition: color .5s;
}

#mapIcon-ID:hover {
    color: orange;
}

topbar {
    grid-area: topbar;

}

scrollbar {
    grid-area: scrollbar;
}

mapcontent {
    grid-area: mapcontent;
    margin-left: 1em;
    margin-bottom: 1em;
}

.grid-item:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-style {
    border: 1px solid black;
    background: #B6E59E;
    border-radius: 10% 0 10% 0;
    transition: padding-right .5s;
}

.map-style:hover {
    padding-right: 4em;
}

.grid-item:nth-child(3) {
    display: flex;
    justify-content: end;
    padding-right: 1em;
    padding-bottom: 18em;
}

/*TODO: STYLE CARD HERE*/
cardcontent {
    grid-area: cardcontent;
    opacity: 0;
    border-right: none;
    border-left: none;
    background: #B6E59E;
    border-start-start-radius: unset;
    border-start-end-radius: 10%;
    border-end-end-radius: 10%;
    position: relative;
    height: 538px;
    width: 257px;
    right: 70%;
    transition: 1s;
}

.toggle-cardcontent {
    opacity: 40%;
    border-right: 1px solid black;
    right: 10%;
    width: 500px;
}

cardbox {
    display: flex;
    position: absolute;
    right: 40%;
    top: 15%;
    opacity: 0;
    transition: 1s;
}

.toggle-cardbox {
    right: 7%;
    top: 15%;
    opacity: 100;
}

card {
    display: grid;
    grid-template-areas:
            'cardhead'
            'cardbody';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    height: 200px;
    width: 80px;
    margin: .2em;
}

cardhead {
    grid-area: cardhead;
    height: auto;
    width: 100%;
    background-color: lightblue;
    border: 1px solid orange;
    border-bottom: #ADD9E5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5% 5% 0 0;
}

cardbody {
    grid-area: cardbody;
    height: auto;
    width: 100%;
    background: #3B94D9;
    border: 1px solid orange;
    border-top: #ADD9E5;
    border-radius: 0 0 5% 5%;
    display: grid;
    grid-template-areas:
            'description'
            'temp'
            'feelslike'
            'humidity';
    grid-template-rows: repeat(4, 1fr);
}

/*TODO: access card body data here*/
description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    min-font-size: 10px;
    text-align: center;
}

temp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    text-align: center;
    border-top: 1px dotted lightgrey;
}

feelslike {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    text-align: center;
    border-top: 1px dotted lightgrey;
}

humidity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    text-align: center;
    border-top: 1px dotted lightgrey;
}

/*TODO: card for current weather*/
currentweatherbox {
    display: flex;
    position: absolute;
    right: 40%;
    top: 55%;
    opacity: 0;
    transition: 1s;
}

.toggle-currentweatherbox {
    right: 7%;
    top: 55%;
    opacity: 100;
}

currentcard {
    display: grid;
    grid-template-areas:
            'currenthead currentbody';
    grid-template-columns: 1fr 2fr;
    height: 200px;
    width: 26.5rem;
    margin: .2em;
}

currenthead {
    grid-area: currenthead;
    border-radius: 5% 0 0 5%;
    border: 1px solid orange;
    border-right: none;
    background: lightblue no-repeat center;
    background-size: cover;
}

currentbody {
    grid-area: currentbody;
    background: #3B94D9;
    border-radius: 0 5% 5% 0;
    border: 1px solid orange;
    border-left: none;
    display: grid;
    grid-template-areas:
            'c_description c_description'
            'c_feelslike c_temp'
            'c_humidity c_temp';
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-template-columns: 1fr 1fr;
}

currentdescription{
    grid-area: c_description;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 25px;
    border-bottom: 1px dotted lightgrey;
}

currenttemp{
    grid-area: c_temp;
    display: flex;
    justify-content: center;
    font-size: 50px;
    border-left: 1px dotted lightgrey;
}

currentfeelslike{
    grid-area: c_feelslike;
    display: flex;
    justify-content: center;
    align-self: center;
}

currenthumidity{
    grid-area: c_humidity;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dotted lightgrey;
}

buttoncontainer{
    position: relative;
    height: 100px;
    width: 10px;
    background: red;
}
