.good-skies{
    background-image: url(../img/good-skies.jpeg);
}
.map-border-color{
    margin-top: -3em;
    background: rgba(217, 211, 211, 0.84);
}
.map-style{
    border: 1px solid black;
    border-radius: 5vw;
}

.hidden{
    visibility: visible;
}

.card-look-test{
    height: 5em;
    width: 10em;
}



.map-search-icon{
    display: flex;
    justify-content: start;
    transform: scale(150%);
    padding-right: 10em;
    padding-left: 10em;
    padding-top: 1em;
}
.map-search-icon:hover{
    color: orange;
}

