*{
    margin: 0;
    padding: 0;
}
container{
    position: absolute;
    background: greenyellow;
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#playerCharacter{
    position: absolute;
    right: 50%;
    top: 50%;
   transform: scale(300%);
}