*{
    margin: 0;
    padding: 0;
}
container{
    position: absolute;
    /*background: greenyellow;*/
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#playerCharacter{
    position: relative;
    /*top: 60%;*/
    /*left: 10%;*/
   transform: scale(300%);
}